#other folders and files
.DS_Store
hao-sync-posts/.vscode
#themes
site-a/*
!site-a/functions.php
site-b/*
!site-b/functions.php
twentytwentyone/*
hello-elementor/*
index.php
#plugins
acf-extended
advanced-custom-fields-pro
Basic-Auth-master
oern-cpt
acf-extended.zip
advanced-custom-fields-pro.zip
index.php
all-in-one-seo-pack
better-wp-security
breeze
cookie-law-info
custom-hooks.php
dynamicconditions
easy-wp-smtp
ele-custom-skin
elementor-pro
elementor
ewww-image-optimizer
facetwp-elementor
facetwp
formacao-oern
loco-translate
malcare-security
query-monitor
revslider
sync-post-with-other-site
user-role-editor
wp-all-export
wp-all-import
Plugin Google Analytics Code.php
