.ast-search-menu-icon.slide-search.ast-dropdown-active .slide-search.astra-search-icon {
	color: $c-black !important;
}
.screen-reader-text{
	color: $c-black !important;
}

.search-field::placeholder {
	color: $c-grey !important;
}