/* Margins */
$m-category-title: 50px;
$m-category-title--mobile: 30px;
$m-category-title--tablet: 30px;

$m-category-item: 50px;

$m-category-after-image: 20px;

/* Paddings */
$p-category-see-more: 20px;
$p-category-item-right: 10px;

/* Heights */
$h-grid-category-image: 230px;
$h-grid-category-image--mobile: 335px;
$h-grid-category-image--tablet: 500px;

$h-row-category-image: 300px;
$h-row-category-image--mobile: 335px;
$h-row-category-image--tablet: 500px;